<launch>
<!-- Arg definition -->
<arg name="RUN_TYPE" default="$(env RUN_TYPE)" />
<arg name="UAV_TYPE" default="$(env UAV_TYPE)" />
<arg name="PROFILER" default="$(optenv PROFILER false)" />

<!-- Address loading -->
<rosparam ns="$(env UAV_NAME)/control_manager" file="$(find trackers_brubotics)/config/address.yaml" />

</launch>
