<launch>
<!-- Arg definition -->
<arg name="RUN_TYPE" default="$(env RUN_TYPE)" />
<arg name="UAV_TYPE" default="$(env UAV_TYPE)" />
<arg name="custom_config_line_tracker_interns" default="" />
<arg name="PROFILER" default="$(optenv PROFILER false)" />
<arg name="custom_config_alpha_drg" default="" />

<!-- Parameter loading -->
<rosparam ns="$(env UAV_NAME)/control_manager/line_tracker_interns" file="$(find trackers_brubotics)/config/default/line_tracker_interns.yaml" />
<rosparam ns="$(env UAV_NAME)/control_manager/line_tracker_interns" file="$(find trackers_brubotics)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/line_tracker_interns.yaml" />
<rosparam if="$(eval not arg('custom_config_line_tracker_interns') == '')" ns="$(env UAV_NAME)/control_manager/line_tracker_interns" file="$(arg custom_config_line_tracker_interns)" />
<param name="$(env UAV_NAME)/control_manager/line_tracker_interns/enable_profiler" type="bool" value="$(arg PROFILER)" />
<remap from="~$(env UAV_NAME)/control_manager/line_tracker_interns/profiler" to="profiler" />

<rosparam ns="$(env UAV_NAME)/control_manager/alpha_drg" file="$(find trackers_brubotics)/config/default/alpha_drg.yaml" />
<rosparam ns="$(env UAV_NAME)/control_manager/alpha_drg" file="$(find trackers_brubotics)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/alpha_drg.yaml" />
<rosparam if="$(eval not arg('custom_config_alpha_drg') == '')" ns="$(env UAV_NAME)/control_manager/alpha_drg" file="$(arg custom_config_alpha_drg)" />
<param name="$(env UAV_NAME)/control_manager/alpha_drg/enable_profiler" type="bool" value="$(arg PROFILER)" />
<remap from="~$(env UAV_NAME)/control_manager/alpha_drg/profiler" to="profiler" />

<!-- Address loading -->
<rosparam ns="$(env UAV_NAME)/control_manager" file="$(find trackers_brubotics)/config/address.yaml" />

</launch>
